<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/header.ejs') %> 
    </head>
<body>
       
       <%- include('./partials/nav.ejs') %> 

    <div class="not-found content">
        <h2>OOPS page not found. You Click on a wrong URL. Try the right one </h2>
    </div>

    <%- include('./partials/footer.ejs') %> 

</body>
</html>