<nav>
    <div class="site-title" >
        <a href="/home"><h2> Alhamdulillah </h2></a>
        <a href="/home"><h2>بسم الله الرحمن الرحيم</h2></a>
    </div>

    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/blogs">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create/blogs">New Data</a></li>
    </ul>
</nav>