<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header.ejs') %> 
</head>
<body>
<div>
    <%- include('./nav.ejs') %>
</div>

<h2> Blog Successfully removed - Post id: <%= RemoveId %></h2>
<a href="/home"><h2>Back to the Home</h2>

<div>
    <%- include('./footer.ejs') %> 
</div>
         
</body>
 </html>